.box1{
    height: 100px;
    width: 100px;
    background-color: maroon;
    position: absolute;
    top:398px;
    left: 398px;
}
.box2{
    height: 100px;
    width: 100px;
    background-color: rgb(28, 38, 174);
    position: absolute;
    top: 398px;
    left:0px
  
}
.box3{
    height: 100px;
    width: 100px;
    background-color:rgb(144, 70, 70);
   position: absolute;
   top:0px;
   left: 398px;
}
.box4{
    height: 100px;
    width: 100px;
    background-color: rgb(23, 171, 85);
    position: absolute;
   top: 0px;
   left:0px
}
.parent-container{
    height: 500px;
    width: 500px;
    border: 2px solid rgb(3, 41, 3);
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    left:470px
    
}
.child{
    border: 2px solid black;
    color: aqua;
}